html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: right;
}

#panel {
  height: 100%;
  background-color: #000;
  padding: 5px;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel h2 {
  color: grey;
}

#panel input {
  margin: 0;
  float: left;
  padding: 0;
  border: none;
}

#panel #submit {
  color: white;
  background: linear-gradient(to bottom, #0062ad 1%,#003c75 100%);
}

#panel #locations {
  color: grey;
  float: left;
}

#locations ul {
  color: grey;
  padding: 0;
  font-size: 28px;
}

#locations button {
  color: white;
  border: none;
}

#show {
background: linear-gradient(to bottom, #00ad62 1%,#00753c 100%);
}

#remove {
  background: linear-gradient(to bottom, #ad0000 1%,#750000 100%);
}
